<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <head>
        <meta charset="UTF-8">
        <title>Edit Blog</title>
    </head>
<body>
<p>
    <a th:href="@{/list}">Back to list blog</a>
</p>

<form action="/edit" method="post" th:object="${blog}">
    <input hidden th:field="*{id}"><br>
Name : <input th:field="*{name}"><br>
Image : <input th:field="*{image}"><br>
Description : <input th:field="*{describe}"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>