<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <head>
        <meta charset="UTF-8">
        <title>Edit Blog</title>
    </head>
<body>


<form action="/edit" method="post" th:object="${blog}"></form>
<span hidden th:field="*{id}"></span>
Name : <input th:field="*{name}"><br>
Image : <input th:field="*{image}"><br>
Description : <input th:field="*{describe}"><br>
<p>
    <a th:href="@{/list}">Back to list blog</a>
</p>
<button type="submit">Create</button>
</body>
</html>