<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
</head>
<body>
<a href="/create">Create Blog</a>
<div th:if="${msg}">
    <h3 th:text="${msg}" class="text-danger"></h3>
    <br>
</div>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>image</th>
        <th>Describe</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr th:each="blog,iterStat:${blogList}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.image}"></td>
        <td th:text="${blog.describe}"></td>
        <td >
            <button>
                <a th:href="@{/edit/{id}(id=${blog.id})}">Edit</a>
            </button>
        </td>
        <td>
            <button>
            <a th:href="@{/delete/{id}(id=${blog.id})}">Delete</a>
            </button>
        </td>
        <td th:href="@{/view/{id}(id=${blog.id})}">
            View
        </td>
    </tr>
</table>
</body>
</html>