<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<button><a th:href="@{/create}">Add new user</a></button>
<div th:if="${msg}">
    <h3 th:text="${msg}" class="text-danger"></h3>
    <br>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Phonenumber</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody th:each="user, iterStat: ${userList}">
        <tr th:object="${user}">
            <th th:text="${iterStat.count}"></th>
            <th th:text="${user.fistName}"></th>
            <th th:text="${user.lastName}"></th>
            <th th:text="${user.phoneNumber}"></th>
            <th th:text="${user.age}"></th>
            <th th:text="${user.email}"></th>
        </tr>
    </tbody>





</table>

</body>
</html>